
<hr>
<h2>Icons</h2>
<div class="row">


<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">person</p>
        <p>person</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">person_add</p>
        <p>person_add</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">flight</p>
        <p>flight</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">hotel</p>
        <p>hotel</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">place</p>
        <p>place</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">done</p>
        <p>done</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">event</p>
        <p>event</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">event_available</p>
        <p>event_available</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">help</p>
        <p>help</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">history</p>
        <p>history</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">refresh</p>
        <p>refresh</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">home</p>
        <p>home</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">launch</p>
        <p>launch</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">search</p>
        <p>search</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">settings</p>
        <p>settings</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">call</p>
        <p>call</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">email</p>
        <p>email</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">add</p>
        <p>add</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">clear</p>
        <p>clear</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">chevron_left</p>
        <p>chevron_left</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">chevron_right</p>
        <p>chevron_right</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">arrow_back</p>
        <p>arrow_back</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">arrow_forward</p>
        <p>arrow_forward</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">arrow_upward</p>
        <p>arrow_upward</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">arrow_downward</p>
        <p>arrow_downward</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">create</p>
        <p>create</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">print</p>
        <p>print</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">lock</p>
        <p>lock</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">devices</p>
        <p>devices</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">laptop</p>
        <p>laptop</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">tablet</p>
        <p>tablet</p>
</div>

<div class="column small-6 medium-4 large-3 text-center">
        <p class="material-icons">phone_iphone</p>
        <p>phone_iphone</p>
</div>

</div>
<hr>
