
<!-- Headings -->
<h1 class="super">h1.super This is a very large header.</h1>
<h1>h1. This is a very large header.</h1>
<h2>h2. This is a large header.</h2>
<h3>h3. This is a medium header.</h3>
<h4>h4. This is a moderate header.</h4>
<h5>h5. This is a small header.</h5>


<h1 class="super"><strong>h1.super This is a very large header.</strong></h1>
<h1><strong>h1. This is a very large header.</strong></h1>
<h2><strong>h2. This is a large header.</strong></h2>
<h3><strong>h3. This is a medium header.</strong></h3>
<h4><strong>h4. This is a moderate header.</strong></h4>
<h5><strong>h5. This is a small header.</strong></h5>


<!-- Paragraphs -->
<p>This is a paragraph. Paragraphs are preset with a font size, line height and spacing to match the overall vertical rhythm. To show what a paragraph looks like this needs a little more content so, did you know that there are storms occurring on Jupiter that are larger than the Earth? Pretty cool. Wrap strong around type to <strong>make it bold!</strong>. You can also use em to <em>italicize your words</em>.</p>
<p class="small">This is a small paragraph. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>


<!-- Links -->
<p class="m-b-gutter-1">Links are very standard, and the color is preset to the Foundation primary color. <a href="global.html">Learn more about Foundation's global colors.</a></p>
<a href="#" class="stand-alone block m-b-gutter-3">This is a link on it's own</a>
<!-- Unordered Lists -->
<ul class="m-b-gutter-3">
  <li>List item with a much longer description or more content.</li>
  <li>List item</li>
  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In facilisis facilisis nisi, venenatis ornare quam ornare et. Quisque imperdiet sem ut lacus auctor, a vehicula velit tincidunt.
    <ul>
      <li>Quisque eu mi sit amet arcu lacinia faucibus nec ut lacus. Vestibulum in sem ante. Praesent a pulvinar tellus, eu facilisis risus. Donec mollis, turpis id iaculis congue, dolor tellus molestie </li>
      <li>Nested list item</li>
      <li>Nested list item</li>
    </ul>
  </li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
</ul>

<!-- Ordered Lists -->
<ol class="m-b-gutter-3">
  <li>Cheese (essential)</li>
  <li>Pepperoni</li>
  <li>Bacon
    <ol>
      <li>Suspendisse potenti. Fusce a velit at nisi placerat tristique ac quis enim. Donec non quam a odio pulvinar ullamcorper. Mauris libero erat, pulvinar at lectus quis,</li>
      <li>Canadian bacon</li>
    </ol>
  </li>
  <li>Sausage</li>
  <li>Onions</li>
  <li>Mushrooms</li>
</ol>

<!-- Definition Lists -->
<dl>
  <dt>Time</dt>
  <dd>The indefinite continued progress of existence and events in the past, present, and future regarded as a whole.</dd>
  <dt>Space</dt>
  <dd>A continuous area or expanse that is free, available, or unoccupied.</dd>
  <dd>The dimensions of height, depth, and width within which all things exist and move.</dd>
</dl>

<!-- Blockquotes -->
<blockquote>
  Those people who think they know everything are a great annoyance to those of us who do.
  <cite>Isaac Asimov</cite>
</blockquote>

<!-- Abbreviations -->
<p>In my dream last night, I saw <abbr title="John Ronald Reuel">J. R. R.</abbr> Tolkien and George <abbr title="Raymond Richard">R. R.</abbr> Martin hanging out on Sunset <abbr title="Boulevard">Blvd</abbr>.</p>

<!-- Keystrokes -->
<p>Press <kbd>Cmd+Q</kbd> (or <kbd>Ctrl+Q</kbd> on Windows) to play Half-Life 3.</p>
