/* =======================================================
 * CONFIGURE
   ======================================================= */

$agg-price-background: $sky-1 !default;
/* more in comparison table */

/* =======================================================
 */



.price-card.agg {
    padding: 0;
    text-align: center;
    .colored {
        background-color: $agg-price-background;
        border-bottom: $price-card-border-width solid $price-card-border-color;
    }
    .half {
        padding: $space-6 $space-3;
        .button {
            margin-bottom: 0;
        }

    }
    .grade {
        margin-bottom: $space-3;
    }
    .price {
        margin-bottom: $space-6;
    }
    .amount {
        display: block;
    }

    .price-card-features {

        text-align: left;
        .feature:last-child {
            margin-bottom: 0;
        }
    }
    @include breakpoint(medium) {
        display: flex;
        flex-flow: row nowrap;
        .half {
            flex: 1 1 50%;
        }
        .colored {
            order: 1;
            border-bottom: none;
            border-left: $price-card-border-width solid $price-card-border-color;
        }
    }

}
