/* =======================================================
 * CONFIGURE
   ======================================================= */
$cover-person-flag-size: $popular-flag-size !default;
$cover-person-flag-font-size: $popular-flag-font-size !default;

$cover-person-yes-background: $popular-flag-background !default;
$cover-person-yes-text: $popular-flag-text !default;

$cover-person-no-background: $feature-cross-color !default;
$cover-person-no-text: $popular-flag-text !default;

/* more in comparison table and toggle toggle-switch */

/* =======================================================
 */


.price-card.person {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: inherit;
    padding-top: $space-6;

    .top {
        flex: 1 1 auto;
    }
    .bottom {
        flex: 0 0 auto;
        border-top: $price-card-border-width solid $price-card-border-color;
    }
    .toggle-wrap {
        width: 100%;
    }

    &::before {
        background-color: $cover-options-top-border;
        transition: opacity 0.2s ease;
    }
    &.covered {
        border-top: $price-card-border-width solid $price-card-border-color;
        background: lighten($cover-person-yes-background, 50%);
        &::before {
            background-color: $cover-options-top-border;
            opacity: 0;
        }
        &::after {
            content: 'Covered';
            position: absolute;
            top: -#{$cover-person-flag-size/2};
            right: -#{$cover-person-flag-size/2};
            height: $cover-person-flag-size;
            width: $cover-person-flag-size;
            font-size: $popular-flag-font-size;
            padding: $space-1 $space-4;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: $cover-person-yes-background;
            color: $cover-person-yes-text;
            text-align: center;
            transform: rotate(45deg);
            z-index: 1;

        }
        .conditions {
            li {
                &::before {
                    @extend .material-icons;
                    font-size: $feature-icon-size;
                    line-height: 1;
                    display: inline-block;
                    position: relative;
                    margin-right: $space-1;
                    content: 'done';
                    color: $feature-tick-color;
                }

            }
        }

    }

    &.not-covered {
        border-top: $price-card-border-width solid $price-card-border-color;
        background: lighten($feature-cross-color, 60%);
        &::before {
            background-color: $cover-options-top-border;
            opacity: 0;
        }
        &::after {
            content: 'Not covered';
            position: absolute;
            top: -#{$cover-person-flag-size/2};
            right: -#{$cover-person-flag-size/2};
            height: $cover-person-flag-size;
            width: $cover-person-flag-size;
            font-size: $cover-person-flag-font-size;
            padding: $space-1 $space-4;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: $cover-person-no-background;
            color: $cover-person-no-text;
            text-align: center;
            transform: rotate(45deg);
            z-index: 1;

        }
        .conditions {
            li {
                &::before {
                    @extend .material-icons;
                    font-size: $feature-icon-size;
                    line-height: 1;
                    display: inline-block;
                    position: relative;
                    margin-right: $space-1;
                    content: 'close';
                    color: $feature-cross-color;
                }

            }
        }

    }

}
