/* =======================================================
 * CONFIGURE
   ======================================================= */

/* configured in comparison table */

/* =======================================================
 */

.price-card.included {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: inherit;

    .top {
        flex: 1 1 auto;
    }
    .bottom {
        flex: 0 0 auto;
        border-top: $price-card-border-width solid $price-card-border-color;
    }
}
