/* =======================================================
 * CONFIGURE
   ======================================================= */

$modal-padding: $space-9 !default;
$modal-title-color: $sky-5 !default;

/* =======================================================
 */
.reveal {
    padding: ($modal-padding + $topnav-height/2) 0 $modal-padding;
    @include breakpoint(medium) {
        padding: $modal-padding 0;
        & > .row {
            padding: 0;
        }
    }
    .close-button {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $topnav-height;
        border-bottom: $navigation-border;
        background-color: $reveal-background;
        @include breakpoint(medium) {
            position: absolute;
            left: auto;
            top: $space-3;
            right: $space-3;
            width: auto;
            height: auto;
            border-bottom: none;
        }
    }

    h3 {
        color: $modal-title-color;
    }
}
