/* =======================================================
 * CONFIGURE
   ======================================================= */

$price-comparison-text-color: $sky-5 !default;
$price-card-border-width: 1px !default;
$price-card-border-color: $pewter-2 !default;
$price-card-top-border: $sky-3 !default;

$price-card-accent-0: $sky-2 !default;
$price-card-accent-1: $sky-3 !default;
$price-card-accent-2: $sky-4 !default;
$price-card-accent-3: $price-comparison-text-color !default;

$popular-flag-size: 140px !default;
$popular-flag-background: $confirmation !default;
$popular-flag-text: $white !default;
$popular-flag-font-size: $small-paragraph-size !default;

$price-card-cta-height: $space-7 !default;
$price-card-cta-font-size: 16px !default;
$price-card-cta-border-width: 2px !default;

$feature-icon-size: 18px !default;
$feature-tick-color: $confirmation !default;
$feature-cross-color: $error !default;

/* =======================================================
 */

.price-comparison-switch-wrap {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: $space-3;
    label {
        padding: 0 $space-2;
        font-weight: bold;
        color: $price-comparison-text-color;
    }
    input[type=checkbox].toggle-switch + label::before {
        background-color: $toggle-color-on;
    }
}
.price-card {
    border: $price-card-border-width solid $price-card-border-color;
    // border-top: 6px solid $sky-2;
    border-top: none;
    border-radius: $button-radius;
    padding: $space-4 $space-3 0;
    color: $price-comparison-text-color;
    position: relative;
    overflow: hidden;
    &::before {
        content: '';
        display: block;
        width: calc(100% + 2px;);
        height: 6px;
        position: absolute;
        top: 0;
        left: -#{$price-card-border-width};
        border-radius: $button-radius $button-radius 0 0;
        background: $price-card-top-border;
    }
    &.grade-0 {
        &::before {
            background: $price-card-accent-0;
        }
        .price-card-cta {
            border-color: $price-card-accent-0;
        }
    }
    &.grade-1 {
        &::before {
            background: $price-card-accent-1;
        }
        .price-card-cta {
            border-color: $price-card-accent-1;
        }
    }
    &.grade-2 {
        &::before {
            background: $price-card-accent-2;
        }
        .price-card-cta {
            border-color: $price-card-accent-2;
        }
    }
    &.grade-3 {
        &::before {
            background: $price-comparison-text-color;
        }
        .price-card-cta {
            border-color: $price-comparison-text-color;
        }
    }
    &.popular {
        &::after {
            content: 'POPULAR';
            position: absolute;
            top: -#{$popular-flag-size/2};
            right: -#{$popular-flag-size/2};
            height: $popular-flag-size;
            width: $popular-flag-size;
            font-size: $popular-flag-font-size;
            font-weight: bold;
            padding: $space-1;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background: $popular-flag-background;
            color: $popular-flag-text;

            text-align: center;
            transform: rotate(45deg);
            z-index: 1;
            @include breakpoint(medium only) {
                top: auto;
                right: -#{$popular-flag-size/2};
                bottom: -#{$popular-flag-size/2};
                transform: rotate(-45deg);
                align-items: flex-start;
            }
        }
    }
    .grade {
        margin-bottom: 0;
        @include breakpoint(large) {
            text-align: center;
            margin: $space-2 0 $space-3;
        };
    }
    .price {
        margin-bottom: $space-1;
        @include breakpoint(large) {
            text-align: center;
            margin-bottom: $space-5;
            .amount {
                display: block;
            }
            .per {
                display: block;
                margin-top: -#{$space-1};
            }


        };
    }
    .amount {
        font-weight: bold;
        font-family: $avenir-font;
        font-size: $space-5;
    }
    .per {
        color: $pewter-4;
        font-size: $small-paragraph-size;
    }

    .price-card-cta {
        display: block;
        text-align: center;
        font-weight: bold;
        color: $price-comparison-text-color;
        line-height: 1;
        padding: ($price-card-cta-height - $price-card-cta-font-size - ($price-card-cta-border-width*2))/2  ;
        border-radius: $price-card-cta-height/2;
        border: $price-card-cta-border-width solid $price-card-accent-0;
        margin-bottom: $space-1;
        transition: all 0.3s ease;
        &:hover {
            text-decoration: none;
            color: $white;
            border-color: $price-comparison-text-color;
            background-color: $price-comparison-text-color;
        }
        @include breakpoint(medium only) {
            max-width: 12em;
        };
        @include breakpoint(large) {
            margin-bottom: $space-5;
        };
    }
    .show-hide-control {
        text-align: left;
        display: block;
        width: 100%;
        padding: $space-3 0;
        border-bottom: 1px solid transparent;
        transition: border-color 0.3s ease;
        &.is-open {
            border-color: $pewter-3;
        }
        @include breakpoint(medium only) {
            margin-top: -#{$space-8};
        };
        @include breakpoint(large) {
            border-bottom: none;
            border-top: 1px solid $pewter-3;
            margin-top: $space-5;
        }

    }
    .show-hide-panel{
        // padding-top: $space-3;
    }
    .price-card-features {
        margin-left: 0;
        margin-right: 0;
    }
    .price-card-features-wrap {
        padding: $space-3 0 $space-1;
        @include breakpoint(large) {
            padding-top: 0;
        }
    }
    .feature {
        margin-bottom: $space-2;
        position: relative;
        padding-left: $space-3;
        &::before {
            @extend .material-icons;
            font-size: $feature-icon-size;
            line-height: $space-3;
            position: absolute;
            left: 0;
            top: 0;
        }
        &.tick::before {
            content: 'done';
            color: $feature-tick-color;
        }
        &.cross::before {
            content: 'close';
            color: $feature-cross-color;

        }
    }
}
