/* =======================================================
 * CONFIGURE
   ======================================================= */

$sticky-total-background: $sky-1 !default;
$sticky-total-border: 1px solid $pewter-2 !default;

/* =======================================================
 */


.sticky-total-wrap {
    background-color: $sticky-total-background;
    border-top: $sticky-total-border;
    border-bottom: $sticky-total-border;
    .total-cost {
        @include breakpoint(medium) {
            font-size: #{map-deep-get($header-styles, 'medium', 'h2', 'font-size')}px;
        }
        @include breakpoint(large) {
            font-size: #{map-deep-get($header-styles, 'medium', 'h1', 'font-size')}px;
        }
    }
    .sticky-total-button {
        @include breakpoint(small only) {
            font-size: map-get($button-sizes, 'small');
            padding: $button-small-padding;
            display: block;
            width: 100%;
            margin-right: 0;
            margin-left: 0;
        }
        @include breakpoint(medium) {
            white-space: nowrap;
            margin-left: $space-4;
        }
    }
    .show-hide-control {
        text-align: left;
        font-size: $small-paragraph-size;
        padding: 0;
        color: $text-icon-button-icon-color;
        display: block;
        &:after {
            margin-left: 0;
            width: 0;
        }
        @include breakpoint(large) {
            display: none;
        }

    }
    .show-hide-panel {
        @include breakpoint(large) {
            display: block;
            max-height: 2000px;
        }
    }
    .drawer {
        border-top: $sticky-total-border;
        padding-top: $space-2;
        padding-bottom: $space-2;
        @include breakpoint(large) {
            border-top: none;
            padding-top: $space-3;
            padding-bottom: $space-3;
        }
    }
}
.sticky-total-calculation {
    @include breakpoint(large) {
        order: -1;
        display: flex;
        align-items: center;
    }
}
.cover {
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: $space-1;
    .cover-icon {
        flex: 0 0 24px;
    }
    .cover-text {
        flex: 1 1 auto;
        margin-left: $space-1;
    }

}
.cover-edit {
    font-size: $small-paragraph-size;
    color: $text-icon-button-icon-color;
    position: relative;
    top: ($space-1*-0.5);

    &:after {
        @extend .material-icons;
        content: 'edit';
        font-size: inherit;
        display: inline-block;
        vertical-align: baseline;
        line-height: 1em;
        margin-left: $space-1/2;
        transform: translateY(0.12em);
    }
}
