
<div class="form-group">
    <label>Pick a day</label>
    <input type="text" class="date-input js-dateRangePicker-single"/>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group">
    <label>Pick a date range</label>
    <input type="text" class="date-input js-dateRangePicker-range"/>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group">
    <label>Inline date picker</label>
    <input type="text" class="date-input js-dateRangePicker-inline"/>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="js-dateRangePicker-container m-b-6"></div>
<div class="form-group is-invalid">
    <label>Pick a date range</label>
    <input type="text" name="daterange" value="01/01/2018 - 01/15/2018" class="date-input"/>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
<div class="form-group is-valid">
    <label>Pick a date range</label>
    <input id="dom-id" value />
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    
</div>
