<h3>Loading spinners</h3>
<div>
    <div class="loading-spinner m-v-3"></div>
    <div class="loading-spinner large m-v-3"></div>
</div>


<a class="button primary load is-loading js-toggleLoading" href="#">Primary</a>
<a class="button secondary load is-loading js-toggleLoading" href="#">Secondary</a>
<a class="button tertiary load is-loading js-toggleLoading" href="#">Tertiary</a>

<a class="js-toggleHook button tertiary">Toggle loading</a>
<script type="text/javascript">

    $('.js-toggleHook').on('click', function(event){
        event.preventDefault();
        $('.js-toggleLoading').toggleClass('is-loading');
    });

</script>
