/* =======================================================
 * CONFIGURE
   ======================================================= */

$small-paragraph-size: 14px !default;
$small-paragraph-line-height: 1.5 !default;
$heading-accent-color: $sky-5 !default;

/* =======================================================
 */
.heading-accent {
    color: $heading-accent-color;
}
p.small ,
.small {
    font-size: $small-paragraph-size;
    line-height: $small-paragraph-line-height;
}


a.stand-alone {
    &::after {
        @extend .material-icons;
        content: 'arrow_forward';
        display: inline-block;
        vertical-align: middle;
        line-height: inherit;
        margin-left: $space-1/2;
        position: relative;
        top: -1px;
    }
}
