{% set logos = [
    'assets/images/logos/rock_logo.svg',
    'assets/images/logos/rock_logo_better.svg',
    'assets/images/logos/rock_logo_better_black.svg',
    'assets/images/logos/rock_logo_better_gray.svg',
    'assets/images/logos/rock_logo_insurance.svg'
] %}
<hr>
<h2>Icons</h2>
<div class="row text-center">

{% for logo in logos %}
<div class="column small-12 medium-6 p-v-gutter-3 p-h-gutter-3">
        <img src="{{ logo }}" alt="rock insurance logo" style="max-width:200px;">
</div>
{% endfor %}
<div class="column small-12 medium-6 p-v-gutter-3 p-h-gutter-3 bg-pewter-5">
        <img src="assets/images/logos/rock_logo_better_white.svg" alt="rock insurance logo" style="max-width:200px;">
</div>
</div>
<hr>
