
<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        {% include "elements/_buttons.njk" %}
    </div>
</div>
<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        {% include "elements/_checkbox-radio.njk" %}
    </div>
</div>

<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        {% include "elements/_toggle-switch.njk" %}
    </div>
</div>


<div class="row align-center m-v-gutter-3">
    <div class="columns small-12 medium-8">
        {% include "elements/_text-input.njk" %}
        {% include "elements/_number-input.njk" %}
        {% include "elements/_select.njk" %}

    </div>
</div>

{% macro formGroupNjk(labelText, placeholderText, errorText, type) %}

<div class="form-group">
    <label>{{labelText}}</label>
    <input type="{{type}}" placeholder="{{placeholderText}}">
    <span class="form-icon"></span>
    <span class="form-error">{{errorText}}</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>

{% endmacro %}

{{ formGroupNjk('label text', 'placeholder text', 'error text', 'text') }}
