{% set msgs = [
    {name: 'Confirmation', class: 'confirm'},
    {name: 'Information', class: 'info'},
    {name: 'Warning', class: 'warn'},
    {name: 'Error', class: 'error'}
] %}

{% for msg in msgs %}

<div class="message {{ msg.class }}">
    <button class="message-close"></button>
    <span class="message-icon"></span>
    <span class="message-text">
        <strong>{{ msg.name }} message headding</strong>
        <p>Optional body text to explain more information. This text could run over many lines as needed.</p>
        <button type="button" name="button" class="button tertiary">Optional button</button>
    </span>
</div>

<div class="message {{ msg.class }}">
    <button class="message-close"></button>
    <span class="message-icon"></span>
    <span class="message-text">{{ msg.name }} message headding</span>
</div>

{% endfor %}
