<h3>Range Selector</h3>
<div class="range-selector-wrap m-b-8">
    <button type="button" name="step-down" class="material-icons">remove</button>
    <input type="number" value="90"  min="0" max="100" step="5" class="h3">
    <button type="button" name="step-up" class="material-icons">add</button>
</div>
