
<div class="form-group">
    <label>Select menu</label>
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>

<div class="form-group is-invalid">
    <label>Select menu</label>
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>

<div class="form-group is-valid">
    <label>Select menu</label>
    <select>
        <option value="husker">Husker</option>
        <option value="starbuck">Starbuck</option>
        <option value="hotdog">Hot Dog</option>
        <option value="apollo">Apollo</option>
    </select>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>
