
<h3>Slider</h3>
<div class="slider-wrap m-b-8">

    <span class="slider-label">£0</span>

    <div class="slider" data-slider data-initial-start="50" data-end="200">
      <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"  aria-controls="sliderOutput1">
          <div class="tooltip top align-center">
              <input type="number" id="sliderOutput1">
          </div>
      </span>
      <span class="slider-fill" data-slider-fill></span>
      <input type="hidden">
    </div>

    <span class="slider-label">£500</span>

</div>
