<h3>Text inputs</h3>

<div class="form-group">
    <label>Text input label</label>
    <input type="text" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>
<div class="form-group is-invalid">
    <label>Text input label</label>
    <input type="text" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>
<div class="form-group is-valid">
    <label>Text input label</label>
    <input type="text" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>


<div class="form-group">
    <label>Textarea input label</label>
    <textarea placeholder="None"></textarea>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>
<div class="form-group is-invalid">
    <label>Textarea input label</label>
    <textarea placeholder="None"></textarea>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>
<div class="form-group is-valid">
    <label>Textarea input label</label>
    <textarea placeholder="None"></textarea>
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>


<div class="form-group password-wrap">
    <label class="password-label">Password input label</label>
    <button type="button" name="show-pass" class="material-icons">remove_red_eye</button>
    <input type="password" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>

<div class="form-group password-wrap is-invalid">
    <label class="password-label">Password input label</label>
    <button type="button" name="show-pass" class="material-icons">remove_red_eye</button>
    <input type="password" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>

<div class="form-group password-wrap is-valid">
    <label class="password-label">Password input label</label>
    <button type="button" name="show-pass" class="material-icons">remove_red_eye</button>
    <input type="password" placeholder="Placeholder text">
    <span class="form-icon"></span>
    <span class="form-error">With an error message.</span>
    {# <p class="help-text">Here's how you use this input field!</p> #}
</div>
