<h2>Tooltip</h2>

<p>By default, a tooltip appears below the defined term on hover.</p>

<p>By default, clicking on a tooltip will leave it open until you click somewhere else.  However, you can disable that by adding <code>data-click-open="false"</code></p>

<p>
this
<span data-tooltip aria-haspopup="true" class="has-tip bottom" data-allow-html="true"  tabindex="2" title="<p class='m-b-1'><strong>You see?</strong></p><p class='m-b-0'>I'm open!</p>">tooltip will stay open</span> when you click on the text

while
<span data-tooltip aria-haspopup="true" class="has-tip top"  tabindex="2" title="I don't stay open">this one will only be open when hovered</span>
</p>


<p>
this
<span data-tooltip aria-haspopup="true" class="has-tip left" data-allow-html="true"  tabindex="2" title="<p class='m-b-1'><strong>You see?</strong></p><p class='m-b-0'>I'm open!</p>">tooltip will stay open</span> when you click on the text
<span data-tooltip aria-haspopup="true" class="has-tip right" data-allow-html="true"  tabindex="2" title="<p class='m-b-1'><strong>You see?</strong></p><p class='m-b-0'>I'm open!</p>">tooltip will stay open</span> when you click on the text

</p>
