<div class="p-t-9 p-b-9">
    <h4 class="m-b-4 heading-accent">Documents to read</h4>
    <ul class="no-bullet m-b-0">
        <li class="m-b-3">
            <a href="#" class="flex-container align-middle">
                <img src="https://via.placeholder.com/40x48" alt="" class="m-r-2">
                <span>Policy Summary <span class="material-icons">get_app</span>
            </a>
        </li>
        <li class="m-b-3">
            <a href="#" class="flex-container align-middle">
                <img src="https://via.placeholder.com/40x48" alt="" class="m-r-2">
                <span>Policy Wording <span class="material-icons">get_app</span>
            </a>
        </li>
        <li class="m-b-3">
            <a href="#" class="flex-container align-middle">
                <img src="https://via.placeholder.com/40x48" alt="" class="m-r-2">
                <span>Travel insurance Product Information Document <span class="material-icons">get_app</span>
            </a>
        </li>
    </ul>

</div>
