{% set prices = [
    {
        grade: 'ECONOMY',
        classes: 'grade-0',
        priceAmount: '£9.99',
        pricePer: 'per policy',
        featuresMainCovered: [
            '<strong>£99 excess</strong> (for all unless stated)',
            '<strong>£10m</strong> medical',
            '<strong>£1k</strong> cancelation',
            '<strong>£1k</strong> luggage',
            '<strong>£200k</strong> personal money'
        ],
        featuresMainNotCovered: [
            'Personal accident'
        ],
        featuresAdditional: [
            'Additional item 1',
            'Additional item 2',
            'Additional item 3',
            'Additional item 4',
            'Additional item 5',
            'Additional item 6',
            'Additional item 7',
            'Additional item 8',
            'Additional item 9'
        ]
    },
    {
        grade: 'STANDARD',
        classes: 'grade-1',
        priceAmount: '£14.99',
        pricePer: 'per policy',
        featuresMainCovered: [
            '<strong>£75 excess</strong> (for all unless stated)',
            '<strong>£10m</strong> medical',
            '<strong>£1.5k</strong> cancelation',
            '<strong>£2k</strong> luggage',
            '<strong>£400k</strong> personal money'
        ],
        featuresMainNotCovered: [
            'Personal accident'
        ],
        featuresAdditional: [
            'Additional item 1',
            'Additional item 2',
            'Additional item 3',
            'Additional item 4',
            'Additional item 5',
            'Additional item 6',
            'Additional item 7',
            'Additional item 8',
            'Additional item 9'
        ]
    },
    {
        grade: 'PREMIER',
        classes: 'grade-2  popular',
        priceAmount: '£17.99',
        pricePer: 'per policy',
        featuresMainCovered: [
            '<strong>£50 excess</strong> (for all unless stated)',
            '<strong>£15m</strong> medical',
            '<strong>£2.5k</strong> cancelation',
            '<strong>£2.5k</strong> luggage',
            '<strong>£500k</strong> personal money'
        ],
        featuresMainNotCovered: [
            'Personal accident'
        ],
        featuresAdditional: [
            'Additional item 1',
            'Additional item 2',
            'Additional item 3',
            'Additional item 4',
            'Additional item 5',
            'Additional item 6',
            'Additional item 7'
        ]
    },
    {
        grade: 'PREMIER PLUS',
        classes: 'grade-3',
        priceAmount: '£21.99',
        pricePer: 'per policy',
        featuresMainCovered: [
            '<strong>£50 excess</strong> (for all unless stated)',
            '<strong>£15m</strong> medical',
            '<strong>£2.5k</strong> cancelation',
            '<strong>£2.5k</strong> luggage',
            '<strong>£500k</strong> personal money',
            '<strong>£30k</strong> personal accident'
        ],
        featuresMainNotCovered: [],
        featuresAdditional: [
            'Additional item 1',
            'Additional item 2',
            'Additional item 3',
            'Additional item 4',
            'Additional item 5',
            'Additional item 6',
            'Additional item 7',
            'Additional item 8',
            'Additional item 9'
        ]
    }

] %}

<div>
    <h3>{{price.grade}}</h3>

    {% for feature in price.featuresMainNotCovered %}
        <div>{{feature | safe}}</div>
    {% endfor %}

</div>


<div data-equalizer="a" data-equalize-on="large">

<div class="row align-center p-t-4" data-equalizer="b">
    <div class="small-12 columns text-center">
        <h3>Price comparison table</h3>
        <div class="price-comparison-switch-wrap">
            <label for="toggleComparison">SINGLE TRIP</label>
            <input id="toggleComparison" type="checkbox" class="toggle-switch"><label for="toggleComparison"></label>
            <label for="toggleComparison">ANNUAL TRIP</label>
        </div>
    </div>

    {% for price in prices %}

    <div class="small-12 medium-10 large-3 columns"  >

        <div class="price-card {{price.classes}} m-b-3 ">
            <div class="row">
                <div class="small-12 medium-6 large-12 columns">
                    <p class="grade small"><strong>{{price.grade}}</strong></p>
                    <div class="price">
                        <span class="amount">{{price.priceAmount}}</span>
                        <span class="per">{{price.pricePer}}</span>
                    </div>
                    <a href="#" class="price-card-cta">Choose cover</a>
                </div>
                <div class="small-12 medium-6 large-12 columns" data-equalizer-watch="a">
                    <div class="price-card-features show-for-medium" >
                    {% for feature in price.featuresMainCovered %}
                        <div class="feature tick">{{feature | safe}}</div>
                    {% endfor %}
                    {% for feature in price.featuresMainNotCovered %}
                        <div class="feature cross">{{feature | safe}}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>


            <div class="show-hide-wrap-linked">
                <button type="button" name="showHide" class="show-hide-control ">View cover details</button>
                <div class="show-hide-panel">
                    <div class="price-card-features-wrap" data-equalizer-watch="b">

                        <div class="price-card-features hide-for-medium">
                        {% for feature in price.featuresMainCovered %}
                            <div class="feature tick">{{feature | safe}}</div>
                        {% endfor %}
                        {% for feature in price.featuresMainNotCovered %}
                            <div class="feature cross">{{feature | safe}}</div>
                        {% endfor %}
                        </div>

                        <div class="price-card-features row">
                            {% for feature in price.featuresAdditional %}
                                <div class="feature tick small-12 medium-6 large-12 columns">{{feature | safe}}</div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    {% endfor %}



</div>
</div>

{# THREE CARDS #}


<div data-equalizer="a" data-equalize-on="large">

<div class="row align-center p-t-4" data-equalizer="b">
    <div class="small-12 columns text-center">
        <h3>Price comparison table</h3>
        <div class="price-comparison-switch-wrap">
            <label for="toggleComparison">SINGLE TRIP</label>
            <input id="toggleComparison" type="checkbox" class="toggle-switch"><label for="toggleComparison"></label>
            <label for="toggleComparison">ANNUAL TRIP</label>
        </div>
    </div>

    {% for i in range(1, 4) %}

    <div class="small-12 medium-10 large-4 columns"  >

        <div class="price-card {{prices[i].classes}} m-b-3 ">
            <div class="row">
                <div class="small-12 medium-6 large-12 columns">
                    <p class="grade small"><strong>{{prices[i].grade}}</strong></p>
                    <div class="price">
                        <span class="amount">{{prices[i].priceAmount}}</span>
                        <span class="per">{{prices[i].pricePer}}</span>
                    </div>
                    <a href="#" class="price-card-cta">Choose cover</a>
                </div>
                <div class="small-12 medium-6 large-12 columns" data-equalizer-watch="a">
                    <div class="price-card-features show-for-medium" >
                    {% for feature in prices[i].featuresMainCovered %}
                        <div class="feature tick">{{feature | safe}}</div>
                    {% endfor %}
                    {% for feature in prices[i].featuresMainNotCovered %}
                        <div class="feature cross">{{feature | safe}}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>


            <div class="show-hide-wrap-linked">
                <button type="button" name="showHide" class="show-hide-control ">View cover details</button>
                <div class="show-hide-panel">
                    <div class="price-card-features-wrap" data-equalizer-watch="b">

                        <div class="price-card-features hide-for-medium">
                        {% for feature in prices[i].featuresMainCovered %}
                            <div class="feature tick">{{feature | safe}}</div>
                        {% endfor %}
                        {% for feature in prices[i].featuresMainNotCovered %}
                            <div class="feature cross">{{feature | safe}}</div>
                        {% endfor %}
                        </div>

                        <div class="price-card-features row">
                            {% for feature in prices[i].featuresAdditional %}
                                <div class="feature tick small-12 medium-6 large-12 columns">{{feature | safe}}</div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    {% endfor %}



</div>
</div>

{# TWO CARDS #}


<div data-equalizer="a" data-equalize-on="large">

<div class="row align-center p-t-4" data-equalizer="b">
    <div class="small-12 columns text-center">
        <h3>Price comparison table</h3>
        <div class="price-comparison-switch-wrap">
            <label for="toggleComparison">SINGLE TRIP</label>
            <input id="toggleComparison" type="checkbox" class="toggle-switch"><label for="toggleComparison"></label>
            <label for="toggleComparison">ANNUAL TRIP</label>
        </div>
    </div>

    {% for i in range(2, 4) %}

    <div class="small-12 medium-10 large-4 columns"  >

        <div class="price-card {{prices[i].classes}} m-b-3 ">
            <div class="row">
                <div class="small-12 medium-6 large-12 columns">
                    <p class="grade small"><strong>{{prices[i].grade}}</strong></p>
                    <div class="price">
                        <span class="amount">{{prices[i].priceAmount}}</span>
                        <span class="per">{{prices[i].pricePer}}</span>
                    </div>
                    <a href="#" class="price-card-cta">Choose cover</a>
                </div>
                <div class="small-12 medium-6 large-12 columns" data-equalizer-watch="a">
                    <div class="price-card-features show-for-medium" >
                    {% for feature in prices[i].featuresMainCovered %}
                        <div class="feature tick">{{feature | safe}}</div>
                    {% endfor %}
                    {% for feature in prices[i].featuresMainNotCovered %}
                        <div class="feature cross">{{feature | safe}}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>


            <div class="show-hide-wrap-linked">
                <button type="button" name="showHide" class="show-hide-control ">View cover details</button>
                <div class="show-hide-panel">
                    <div class="price-card-features-wrap" data-equalizer-watch="b">

                        <div class="price-card-features hide-for-medium">
                        {% for feature in prices[i].featuresMainCovered %}
                            <div class="feature tick">{{feature | safe}}</div>
                        {% endfor %}
                        {% for feature in prices[i].featuresMainNotCovered %}
                            <div class="feature cross">{{feature | safe}}</div>
                        {% endfor %}
                        </div>

                        <div class="price-card-features row">
                            {% for feature in prices[i].featuresAdditional %}
                                <div class="feature tick small-12 medium-6 large-12 columns">{{feature | safe}}</div>
                            {% endfor %}
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>

    {% endfor %}



</div>
</div>
