
<div data-sticky-container>
    <div class="bg-pewter-2 show-hide-wrap sticky-total-wrap" id="stickyTotal" >
        <div class="row">
            <div class="small-6 medium-5 columns p-v-2  hide-for-large">
                <h3 class="total-cost heading-accent m-b-0"><strong>£0.00</strong></h3>
                <button type="button" name="showHide" class="show-hide-control">Price breakdown</button>
            </div>
            {# <div class="medium-4 columns hide-for-small-only flex-container align-middle">

            </div> #}
            <div class="small-6 medium-7 large-6 columns p-v-2 flex-container align-middle">
                <div class="text-right hide-for-small-only">
                    <h3 class="total-cost heading-accent m-b-0 show-for-large"><strong>£0.00</strong></h3>
                    <p class="small m-b-0 ">Inclusive of Insurance Premium Tax at current rate</p>
                </div>

                <a class="sticky-total-button button primary m-b-0 " href="#">Next: Medical</a>
            </div>

            <div class="small-12 large-6 columns sticky-total-calculation">
                <div class="show-hide-panel">

                    <div class="drawer row">
                        <div class="small-12 columns">
                            <p class="small show-for-small-only">Inclusive of Insurance Premium Tax at current rate</p>
                        </div>

                        <div class="cover small-6 medium-3 large-4 columns">
                            <div class="cover-icon">
                                <img src="https://via.placeholder.com/48x48" alt="" >
                            </div>
                            <div class="cover-text">
                                <p class="small m-b-0">Travel</p>
                                <h4 class="heading-accent m-b-0"><strong>£0.00</strong></h4>
                                <a href="#" class="cover-edit">Edit</a>
                            </div>
                        </div>
                        <div class="cover small-6 medium-3 large-4 columns">
                            <div class="cover-icon">
                                <img src="https://via.placeholder.com/48x48" alt="" >
                            </div>
                            <div class="cover-text">
                                <p class="small m-b-0">Travel</p>
                                <h4 class="heading-accent m-b-0"><strong>£0.00</strong></h4>
                                <a href="#" class="cover-edit">Edit</a>
                            </div>
                        </div>
                        <div class="cover small-6 medium-3 large-4 columns">
                            <div class="cover-icon">
                                <img src="https://via.placeholder.com/48x48" alt="" >
                            </div>
                            <div class="cover-text">
                                <p class="small m-b-0">Travel</p>
                                <h4 class="heading-accent m-b-0"><strong>£0.00</strong></h4>
                                <a href="#" class="cover-edit hide">Edit</a>
                            </div>
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
