<div class="tabs-wrap m-b-2">

    <ul class="tabs" data-tabs id="example-tabs">
        <li class="tabs-title is-active"><a href="#panel1v" aria-selected="true">DETAILS</a></li>
        <li class="tabs-title"><a href="#panel2v">REVIEWS</a></li>
        <li class="tabs-title"><a href="#panel3v">FAQs</a></li>
        <li class="tabs-title"><a href="#panel4v">SUPPORT</a></li>
    </ul>

</div>

<div class="tabs-content m-b-6" data-tabs-content="example-tabs">

    <div class="tabs-panel is-active" id="panel1v">
        <div class="bg-pewter-1 p-2 text-center">
            <h4>One</h4>
        </div>
    </div>

    <div class="tabs-panel" id="panel2v">
        <div class="bg-pewter-1 p-2 text-center">
            <h4>Two</h4>
        </div>
    </div>

    <div class="tabs-panel" id="panel3v">
        <div class="bg-pewter-1 p-2 text-center">
            <h4>Three</h4>
        </div>
    </div>
    
    <div class="tabs-panel" id="panel4v">
        <div class="bg-pewter-1 p-2 text-center">
            <h4>Four</h4>
        </div>
    </div>

</div>
