<div class="topnav">
    <div class="topnav-logo-wrap">
        <a href="#"class="topnav-logo">
            <img src="assets/images/logos/rock_logo.svg" alt="rock insurance logo" style="max-width:200px;">
        </a>
    </div>
    <button type="button" name="openside" class="burger-menu" data-toggle="sidenav"></button>
    <div class="topnav-spacer bg-sky-1"></div>
    <a href="" class="topnav-phone hide-for-small-only">Call us on <strong>03436580220</strong></a>
    <a href="#" class="topnav-help" data-toggle="help">help</a>

</div>
