<footer class="p-t-8 p-b-8">
    <div class="row">
        <div class="column small-12 medium-3 large-2 footer-logo m-b-4">
            <img src="assets/images/logos/rock_logo.svg" alt="rock insurance logo">
        </div>
        <div class="column small-12 medium-5 large-6">
            <p class="small">ROCK is a trading style pf ROCK Insurance Services Limited who is authorised and regulated by the Financial Conduct Authority (FCA number 300317). Policies are underwritten by xxxxxx</p>
            <p class="small">© 2018 ROCK group</p>
        </div>
        <div class="column small-12 medium-3 medium-offset-1">
            <ul class="no-bullet small">
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookies</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Security</a></li>
            </ul>
        </div>
    </div>
</footer>
