<div class="row align-center m-t-6 m-b-6">

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card included">
            <div class="top">
                <img class="m-b-2" src="https://via.placeholder.com/80x80/E7F7FB/1A4B64?text=A" alt="">
                <p class="heading-accent m-b-1"><strong>DENTAL</strong></p>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
            <div class="bottom p-t-3 p-b-3">
                <p class="heading-accent m-b-0"><strong>COVER UP TO £1,000</strong></p>
            </div>


        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card included">
            <div class="top">
                <img class="m-b-2" src="https://via.placeholder.com/80x80/E7F7FB/1A4B64?text=A" alt="">
                <p class="heading-accent m-b-1"><strong>DENTAL</strong></p>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            <div class="bottom p-t-3 p-b-3">
                <p class="heading-accent m-b-0"><strong>COVER UP TO £1,000</strong></p>
            </div>


        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card included">
            <div class="top">
                <img class="m-b-2" src="https://via.placeholder.com/80x80/E7F7FB/1A4B64?text=A" alt="">
                <p class="heading-accent m-b-1"><strong>DENTAL</strong></p>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="bottom p-t-3 p-b-3">
                <p class="heading-accent m-b-0"><strong>COVER UP TO £1,000</strong></p>
            </div>


        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card included">
            <div class="top">
                <img class="m-b-2" src="https://via.placeholder.com/80x80/E7F7FB/1A4B64?text=A" alt="">
                <p class="heading-accent m-b-1"><strong>DENTAL</strong></p>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
            </div>
            <div class="bottom p-t-3 p-b-3">
                <p class="heading-accent m-b-0"><strong>COVER UP TO £1,000</strong></p>
            </div>


        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card included">
            <div class="top">
                <img class="m-b-2" src="https://via.placeholder.com/80x80/E7F7FB/1A4B64?text=A" alt="">
                <p class="heading-accent m-b-1"><strong>DENTAL</strong></p>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
            </div>
            <div class="bottom p-t-3 p-b-3">
                <p class="heading-accent m-b-0"><strong>COVER UP TO £1,000</strong></p>
            </div>


        </div>

    </div>

    <div class="small-12 medium-6 large-4 columns m-b-3">

        <div class="price-card included">
            <div class="top">
                <img class="m-b-2" src="https://via.placeholder.com/80x80/E7F7FB/1A4B64?text=A" alt="">
                <p class="heading-accent m-b-1"><strong>DENTAL</strong></p>
                <p class="m-b-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="bottom p-t-3 p-b-3">
                <p class="heading-accent m-b-0"><strong>COVER UP TO £1,000</strong></p>
            </div>


        </div>

    </div>

</div>
