<div class="off-canvas position-left" id="sidenav" data-off-canvas>
    <!-- Your menu or Off-canvas content goes here -->
    <div class="sidenav-head offscreen-margins">
        <button type="button" name="button" class="close-button position-unset" data-close>Close</button>
    </div>

    <ul class="no-bullet sidenav-links offscreen-margins">
        <li><a href="#"><span class="material-icons text-fuchsia-4 m-r-2">home</span>Home</a></li>
        <li><a href="#"><span class="material-icons m-r-2 text-tangerine-4">phonelink_ring</span>Link 2</a></li>
        <li><a href="#"><span class="material-icons m-r-2 text-sky-3">person</span>Link 3</a></li>
        <li><a href="#"><span class="material-icons m-r-2 text-plum-3">wb_sunny</span>Link 4</a></li>
    </ul>


</div>
