<div class="total-price-bg">
    <div class="row align-middle p-t-9 p-b-9">
        <div class="small-12 medium-6 columns">
            <h4 class="heading-accent">Single Trip, Economy Cover</h4>
            <h2 class="heading-accent h1"><strong>£14.99</strong></h2>
            <p class="small">Inclusive of Insurance Premium Tax at current rate</p>
        </div>
        <div class="small-12 medium-6 columns medium-text-right ">
            <a href="" class="button primary m-t-3 m-b-3">Continue with this cover</a>
        </div>
    </div>
</div>
