/* =======================================================
 * CONFIGURE
   ======================================================= */
/* sizing */
$check-radio-size: 24px !default;
$radio-dot-size: 16px !default;
$check-tick-size: 20px !default;
$check-radio-gap: 12px !default;

/* colors */
$check-radio-color: $pewter-3 !default;
$check-radio-color-active: $sky-3 !default;
$check-radio-color-disabled: $pewter-2 !default;

/* =======================================================
 */


/*
 * common spacing
 */
input[type=radio],
input[type=checkbox] {
    display: none;
    & + label {
        display: inline-block;
        padding-left: $check-radio-size + $check-radio-gap;
        margin-left: 0;
        margin-bottom: $check-radio-gap;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid $check-radio-color;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity 200ms ease;

        }

    }
    &:checked + label:after {
        opacity: 1;
    }
    &[disabled] {
        & + label {
            color: $check-radio-color-disabled;
            &:before,
            &:hover:before {
                border-color: $check-radio-color-disabled;
            }
        }


    }

}

/*
 * Radio
 */
input[type=radio] {

    & + label {
        padding-left: $check-radio-size + $check-radio-gap;
        margin-bottom: $check-radio-gap;
        &:before {
            height: $check-radio-size;
            width: $check-radio-size;
            border-radius: 50%;
            left: 0;
            top: 0;
        }
        &:after {
            height: $radio-dot-size;
            width: $radio-dot-size;
            border-radius: 50%;
            left: ($check-radio-size/2)-($radio-dot-size/2);
            top: ($check-radio-size/2)-($radio-dot-size/2);
            background: $check-radio-color-active;
        }
        &:hover:before {
            border-color: $check-radio-color-active;
        }
    }

    &:checked + label {
        &:before {
            border-color: $check-radio-color-active;
        }
    }

}

/*
 * Checkbox
 */

input[type=checkbox] {
    & + label {
        padding-left: $check-radio-size + $check-radio-gap;
        margin-bottom: $check-radio-gap;
        &:before {
            height: $check-radio-size;
            width: $check-radio-size;
            left: 0;
            top: 0;
        }
        &:after {
            @extend .material-icons;
            content: 'done';
            font-size: $check-tick-size;
            height: $check-radio-size;
            width: $check-radio-size;
            line-height: $check-radio-size;
            text-align: center;
            left: 0;
            top: 0;
            color: $check-radio-color-active;

        }
        &:hover:before {
            border-color: $check-radio-color-active;
        }
    }

    &:checked + label {
        &:before {
            border-color: $check-radio-color-active;
        }
    }

}
