/* =======================================================
 * CONFIGURE
   ======================================================= */
$button-choice-background: $white !default;
$button-choice-border: $pewter-3 !default;
$button-choice-text: $pewter-5 !default;

$button-choice-border-hover: $sky-2 !default;

$button-choice-text-active: $sky-5 !default;
$button-choice-background-active: $sky-1 !default;

$button-choice-background-disabled: $white !default;
$button-choice-text-disabled: $pewter-2 !default;
$button-choice-border-disabled: $button-choice-text-disabled !default;

/* =======================================================
 */

.choice-wrap {
    font-size: 0;
    input[type=radio],
    input[type=checkbox] {
        display: none;
        & + label {
            &:before,
            &:after {
                display: none;
            }
            font-size: 1rem;
            margin-right: $space-2;
            margin-bottom: $space-2;
            padding: $space-1 $space-3;
            border-radius: $button-radius;
            background-color: $button-choice-background;
            border:  $button-border-width solid $button-choice-border;
            color: $button-choice-text;
            font-weight: normal;
            transition: background-color 300ms ease,
                        border-color 300ms ease;
            &:last-of-type {
                margin-right: 0;
            }
            &:hover{
                border-color: $button-choice-border-hover;
            }

        }
        &:checked + label {
            border-color: $button-choice-border-hover;
            color: $button-choice-text-active;
            background-color: $button-choice-background-active;
        }
        &.disabled,
        &[disabled] {

            & + label  {
                &,
                &:hover,
                &:focus {
                    // opacity: $button-opacity-disabled;
                    cursor: not-allowed;
                    background-color: $button-choice-background-disabled;
                    color: $button-choice-text-disabled;
                    border-color:  $button-choice-border-disabled;
                }
            }

        }

    }
    .column, .columns  {
        display: flex;

        & > label {
            flex: 1 1 auto;
            margin-right: 0;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }
    }
    &.large {

        input[type=radio],
        input[type=checkbox] {

            & + label {
                padding: $space-3 $space-3 $space-4 $space-3;
                text-align: center;
                justify-content: flex-start;
                img {
                    margin: 0 auto $space-3 auto;
                }
            }
        }

    }

}
