/* =======================================================
 * CONFIGURE
   ======================================================= */

// mostly configured in settings.scss
$form-feild-height: 46px !default;
$form-feild-margin: $space-1 !default;
$dropdown-icon-color: $sky-3 !default;

/* =======================================================
 */

.help-text,
.form-error {
    margin-top: 0;
    margin-bottom: 0;
}
input,
[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea,
select,
.form-icon {
    margin-top: $form-feild-margin;
    margin-bottom: $form-feild-margin;
    height: $form-feild-height;
}
.form-icon {
    margin-left: $form-feild-margin;
    display: none;
    &::before {
        @extend .material-icons;
        height: $form-feild-height;
        width: $form-feild-height;
        line-height: $form-feild-height;
        text-align: center;
        font-size: $space-5;

    }
}

textarea {
    height: $form-feild-height*2;
}
.form-group {

    margin-bottom: $space-5;
    display: flex;
    flex-flow: row wrap;
    & label, .help-text, .form-error {
        flex: 1 0 100%;
        // width: 100%;
    }
    &
    input,
    textarea,
    select,
    .form-input-layout,
    .password-label  {
        flex: 1 0 auto;
        width: auto;
        min-width: 70%;
    }
    &
    .form-icon {
        flex: 0 0 $form-feild-height;
    }
    &.is-invalid {
        .form-icon {
            display: block;
            &:before {
                content: 'warning';
                color: get-color(alert);
            }
        }
        [name="show-pass"] {
            margin-right: $form-feild-height + $form-feild-margin;
        }
        input:not(:focus),
        textarea:not(:focus),
        select:not(:focus) {
            border-color: get-color(alert);
        }
        .form-error {
            display: block;
        }
    }
    &.is-valid {
        .form-icon {
            display: block;
            &:before {
                content: 'done';
                color: get-color(success);
            }
        }
        [name="show-pass"] {
            width: 24px;
            margin-right: $form-feild-height + $form-feild-margin;
        }
    }
}

.is-invalid-input:not(:focus) {
    background-color: $white;
    &::placeholder {
        color: $input-placeholder-color;
    }
}




select {
    /* material icon expand_more */
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'>
        <path d='M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z' fill='#{$dropdown-icon-rgb}'/>
        <path d='M0 0h24v24H0z' fill='none'/>
    </svg>");
    background-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

[name="show-pass"] {
    width: 24px;
}
