/* =======================================================
 * CONFIGURE
   ======================================================= */
/* sizes */
$message-icon-size: 24px !default;
$message-close-button-size: $space-6 !default;
$message-close-icon-size: 18px !default;
$message-border-size: 3px !default;

/* colors */
$message-confirm-color: $confirmation !default;
$message-confirm-color-background: mix($message-confirm-color, $white, 10%) !default;

$message-info-color: $sky-3 !default;
$message-info-color-background: $sky-1 !default;

$message-warning-color: $warning !default;
$message-warning-color-background: mix($warning, $white, 10%) !default;

$message-error-color: $error !default;
$message-error-color-background: mix($error, $white, 5%) !default;

/* =======================================================
 */

.message {
    padding: $space-2 $space-4 $space-2 $space-2;
    margin-bottom: $space-2;
    border-top: $message-border-size solid;
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    &.confirm {
        background-color: $message-confirm-color-background;
        border-color: $message-confirm-color;
        & .message-icon:after {
            content: 'check_circle';
            color: $message-confirm-color;
        }
    }
    &.info {
        background-color: $message-info-color-background;
        border-color: $message-info-color;
        & .message-icon:after {
            content: 'info';
            color: $message-info-color;
        }
    }
    &.warn {
        background-color: $message-warning-color-background;
        border-color: $warning;
        & .message-icon:after {
            content: 'error';
            color: $warning;
        }
    }
    &.error {
        background-color:$message-error-color-background;
        border-color: $error;
        & .message-icon:after {
            content: 'block';
            color: $error;
        }
    }

    & *:last-child {
        margin-bottom: 0;
    }
}



.message-icon {
    height: $message-icon-size;
    width: $message-icon-size;
    display: block;
    margin-right: $space-2;
    flex: 0 1 $message-icon-size;
    &:after {
        @extend .material-icons;
        font-size: $message-icon-size;
    }
}
.message-close {
    height: $message-close-button-size;
    width:  $message-close-button-size;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    &:after {
        @extend .material-icons;
        content: 'close';
        font-size: $message-close-icon-size;
    }
}
.message-text {
    flex: 0 1 auto;
    & > strong {
        margin-bottom: $space-1;
        display: block;
    }
}
