/* =======================================================
 * CONFIGURE
   ======================================================= */

   $progress-indicator-color: $pewter-2 !default;
   $progress-indicator-color-done: $confirmation !default;
   $progress-indicator-color-current-background: mix($progress-indicator-color-done, $white, 10%) !default;
 /* =======================================================
  */

.progress-indicator {
    display: flex;
    flex-flow: row nowrap;
    // align-items: stretch;
    // justify-content: center;
    border-top: 1px solid $progress-indicator-color;
    & .step {
        flex: 1 1 auto;
        text-align: center;
        padding: $space-1;
        border-right: 1px solid $progress-indicator-color;
        position: relative;
        font-size: $small-font-size;
        line-height: 1;
        &:last-child {
            border-right: none;
            &:after {
                right: 0;
            }
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: -#{$space-1/2};
            left: 0;
            right: -1px;
            height: $space-1/2;
            background-color: $progress-indicator-color;
        }

        & .step-name {
            display: none;
        }
        &.is-complete,
        &.is-current, {
            &:after {
                background-color: $progress-indicator-color-done;
            }
        }
        &.is-current {
            font-weight: bold;
            background-color: $progress-indicator-color-current-background;
        }
        @include breakpoint(medium) {
            padding: $space-3 $space-1;
            & .step-number {
                &:after {
                    content: '.'
                }

            }
            & .step-name {
                display: inline-block;
            }
        }
    }
}
