/* =======================================================
 * CONFIGURE
   ======================================================= */
$slider-handel-border-size: 1px !default;
$slider-handel-border-color: $pewter-3 !default;

$slider-handel-background-color-hover: $sky-1 !default;
$slider-handel-border-color-hover: $sky-3 !default;

/* =======================================================
*/
.slider-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $form-feild-height;
    & .slider-label {
        flex: 0 1 $form-feild-height;
        text-align: center;
    }
    .slider {
        flex: 1 0 auto;
        margin: 1.25rem $space-1;

    }
}

.slider,
.slider-fill {
    border-radius: ($slider-height/2) ;
}


.slider-handle {
    border: $slider-handel-border-size solid $slider-handel-border-color;
    &:hover,
    &:focus {
        outline: none;
        border: $slider-handel-border-size solid $slider-handel-border-color-hover;
        background: $slider-handel-background-color-hover;
    }
    & .tooltip {
        position: absolute;
        top: -#{($space-1 + $tooltip-pip-height)};
        left: 50%;
        transform: translate(-50%, -100%);
        padding: 0;
        & input {
            -webkit-appearance: none;
            border: none;
            background: transparent;
            padding: $space-1;
            text-indent: 0;
            margin: 0;
            width: $space-8;
            height: auto;
            text-align: center;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
    }
}
