/* =======================================================
 * CONFIGURE
   ======================================================= */

 // configured in forms

 /* =======================================================
  */
  
/* Calcultions */
 $stepper-button-size: ($form-feild-height/2)+1px; /* 24px */

/*
 * 1. adding or removing a pixel to account for the borders overlapping
 */

.stepper-wrap {
    position: relative;
    & > input[type=number] {
        width: 100%;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
        }
        &:focus ~ [name='step-up'],
        &:focus ~ [name='step-down'] {
            border: $input-border-focus;

        }
    }

    & [name='step-up'], [name='step-down'] {

        width: $stepper-button-size + 1px; /* 1. */
        border: $input-border;
        position: absolute;
        right: 0;
        color: $pewter-4;
        transition: border-color 0.25s ease-in-out,
                    border-color 0.25s ease-in-out;
        &:focus {
            border: $input-border-focus;
            outline: none;
            z-index: 1;
        }
        &:active {
            color: $sky-3;
        }

    }
    & [name='step-up'] {
        height: $stepper-button-size;
        top: $form-feild-margin;
    }
    & [name='step-down'] {
        height: $stepper-button-size - 1px;  /* 1. */
        line-height: $stepper-button-size - 1px;
        top: $form-feild-margin + ($form-feild-height/2);
    }

}

.form-group.is-invalid {
    .stepper-wrap > input:not(:focus) {
        & ~ [name='step-up'],
        & ~ [name='step-down'] {
            border-color: get-color(alert);
            &:focus {
                border: $input-border-focus;
                outline: none;
                z-index: 1;
            }
        }

    }
}
