/* =======================================================
 * CONFIGURE
   ======================================================= */
/* regular size */
$toggle-width: 46px !default;
$toggle-height: 26px !default;
$toggle-gap: 2px !default;
$toggle-tick-size: 18px !default;

$toggle-color-on: $sky-5 !default;
$toggle-color-off: $pewter-2 !default;

/* large size */
$toggle-width-large: 70px !default;
$toggle-height-large: 40px !default;
$toggle-gap-large: 2px !default;
$toggle-tick-size-large: 24px !default;

$toggle-color-on-large: $sky-3 !default;
$toggle-color-off-large: $pewter-2 !default;


/* =======================================================
 */
 /* calculate dot-size */
$toggle-dot-size: $toggle-height - ($toggle-gap*2);
$toggle-dot-size-large: $toggle-height-large - ($toggle-gap-large*2);

 /* layout and off state */
input[type=checkbox].toggle-switch {

    & + label {
        padding: 0;
        margin:$space-1 0;
        position: relative;
        width: $toggle-width;
        height: $toggle-height;

        &::before {
            content: '';
            width: $toggle-width;
            height: $toggle-height;
            background-color: $toggle-color-off;
            border-radius: $toggle-height;
            position: absolute;

            border: none;
            top: 0;
            left: 0;
            transition: background-color 400ms ease;
        }
        &::after {
            @extend .material-icons;
            content: '';

            width: $toggle-dot-size;
            height: $toggle-dot-size;
            line-height: $toggle-dot-size;
            text-align: center;
            border-radius: $toggle-dot-size;
            background: $white;
            position: absolute;
            top: $toggle-gap;
            left: $toggle-gap;
            opacity: 1;
            transform: translateX(0);
            transition: transform 200ms ease 000ms,
                        color 100ms ease 000ms;
        }
    }

     /* on state */
    &:checked {
        & + label:before {
            background: $toggle-color-on;
        }
        & + label:after {
            transform: translateX($toggle-width - ($toggle-dot-size + $toggle-gap*2));
            color: $toggle-color-on;
            transition: transform 200ms ease 000ms;
        }
    }

    &.large {
        & + label {
            padding: 0;
            margin:$space-1 0;
            position: relative;
            width: $toggle-width-large;
            height: $toggle-height-large;

            &::before {
                content: '';
                width: $toggle-width-large;
                height: $toggle-height-large;
                background-color: $toggle-color-off-large;
                border-radius: $toggle-height-large;
                position: absolute;

                border: none;
                top: 0;
                left: 0;
                transition: background-color 400ms ease;
            }
            &::after {
                @extend .material-icons;
                content: 'done';
                font-size: $toggle-tick-size-large;
                color: $white;
                width: $toggle-dot-size-large;
                height: $toggle-dot-size-large;
                line-height: $toggle-dot-size-large;
                text-align: center;
                border-radius: $toggle-dot-size-large;
                background: $white;
                position: absolute;
                top: $toggle-gap-large;
                left: $toggle-gap-large;
                opacity: 1;
                transform: translateX(0);
                transition: transform 200ms ease 000ms,
                            color 100ms ease 000ms;
            }
        }
         /* on state */
        &:checked {
            & + label:before {
                background: $toggle-color-on-large;
            }
            & + label:after {
                transform: translateX($toggle-width-large - ($toggle-dot-size-large + $toggle-gap-large*2));
                color: $toggle-color-on-large;
                transition: transform 200ms ease 000ms,
                            color 200ms ease 200ms;
            }
        }
    }

}
