/* =======================================================
 * CONFIGURE
   ======================================================= */

$tooltip-border-width: 2px !default;
$tooltip-border-color: $sky-2 !default;

$speech-bubble-border-color: $pewter-3 !default;
$speech-bubble-pip-width: $space-2*0.75 !default;

$speech-bubble-background-color: $pewter-1 !default;
$speech-bubble-border-width: 1px !default;


/* =======================================================
 */
 /* Calculations */
$triangle-visual-border-offset: 0.3px;
$tranlge-translate: $tooltip-border-width+$triangle-visual-border-offset;
$speech-bubble-tranlge-translate: $speech-bubble-border-width+$triangle-visual-border-offset;


.tooltip {
    border:$tooltip-border-width solid $tooltip-border-color;
    font-size: $small-font-size;
    &.bottom::before {
         border-color: transparent transparent $tooltip-border-color;
    }
    &.bottom::after {
        position: absolute;
        top:auto;
        bottom: 100%;
        @include css-triangle($tooltip-pip-width, $tooltip-background-color, up);
        transform: translateY($tranlge-translate);
    }
    &.bottom.align-center::after {
        left: 50%;
        transform: translate(-50%, $tranlge-translate);
    }

    &.top::before {
         border-color: $tooltip-border-color transparent transparent;
    }
    &.top::after {
        position: absolute;
        top: 100%;
        bottom: auto;
        @include css-triangle($tooltip-pip-width, $tooltip-background-color, down);
        transform: translateY(-#{$tranlge-translate});
    }
    &.top.align-center::after {
        left: 50%;
        transform: translate(-50%, -#{$tranlge-translate});
    }
    &.tooltip.align-left::after {
        left: 10%;
        right: auto;
    }
    &.tooltip.align-right::after {
        right: 10%;
        left: auto;
    }

    &.left::before {
         border-color:transparent transparent transparent $tooltip-border-color;
    }
    &.left::after {
        position: absolute;
        left: 100%;
        top: 10%;
        @include css-triangle($tooltip-pip-width, $tooltip-background-color, right);
        transform: translateX(-#{$tranlge-translate});
    }
    &.left.align-center::after {
        bottom: auto;
        top: 50%;
        transform: translate(-#{$tranlge-translate}, -50%);
    }

    &.right::before {
         border-color: transparent $tooltip-border-color transparent transparent;
    }
    &.right::after {
        position: absolute;
        left:auto;
        right: 100%;
        top: 10%;
        @include css-triangle($tooltip-pip-width, $tooltip-background-color, left);
        transform: translateX($tranlge-translate);
    }
    &.right.align-center::after {
        bottom: auto;
        top: 50%;
        transform: translate($tranlge-translate, -50%);
    }
}


.speechBubble {
    border: $speech-bubble-border-width solid $speech-bubble-border-color;
    border-radius: $button-radius;
    background-color: $speech-bubble-background-color;
    position: relative;
    &::before {
         position: absolute;
         border-color: $tooltip-border-color transparent transparent;
         top: 100%;
         left: $space-5;
         @include css-triangle($speech-bubble-pip-width, $speech-bubble-border-color, down);
    }
    &::after {
        position: absolute;
        top: 100%;
        left: $space-5;
        bottom: auto;
        @include css-triangle($speech-bubble-pip-width, $speech-bubble-background-color, down);
        transform: translateY(-#{$speech-bubble-tranlge-translate});
    }
}
.roundImage {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
}
